{% extends 'layout.html' %}
{% import 'widgets/form.html' as form_widget %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-sm-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">New Player Session</h2>
                </div>
                <div class="panel-body">
                    {{ form_widget.form("new_player_session_form", new_player_session_form, submit_text="Go!") }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}