{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block head %}
    <script src="//cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="{{ url_for('static', filename='js/player.js') }}"></script>
    <link href="//vjs.zencdn.net/5.19.1/video-js.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div>
    Created at {{ player_session.creation_time }} by {{ player_session.owner.username }}.
    </div>
    <video id="video_player" class="video-js" controls preload="auto" width="1280" height="720"
           data-setup="{}">
        <source src="{{ player_session.video_url }}" type='video/mp4'>
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
    </video>

    <script src="//vjs.zencdn.net/5.19.1/video.js"></script>
    <script src="//cdn.sc.gl/videojs-hotkeys/0.2/videojs.hotkeys.min.js"></script>
    <script>
        var video_player = videojs('video_player');
        video_player.ready(function () {
            this.hotkeys({
                volumeStep: 0.1,
                seekStep: 5,
                alwaysCaptureHotkeys: true,
                enableModifiersForNumbers: false
            });
            var controller = new PlayerController('{{ player_session.token }}', video_player);
            controller.start();
        });
    </script>
{% endblock %}
