{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container" style="text-align: center;">
            <h1 style="margin-bottom: 1em">VideoSync</h1>
            <a href="{{ url_for('player.new') }}" class="btn btn-default btn-md">New Player</a>
        </div>
    </div>
{% endblock %}
