{% extends 'layout.html' %}
{% import 'widgets/form.html' as form_widget %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-sm-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Login</h2>
                </div>
                <div class="panel-body">
                    {{ form_widget.form('login_form', login_form, submit_text='Login!', additions=[
                        ('Forgot Password', url_for('users.user_password_forgot')),
                    ]) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

