{% extends 'layout.html' %}
{% import 'widgets/form.html' as form_widget %}

{% block title %}
    Password Recovery
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-sm-10">
            {% if password_reset == True %}
                <div class="alert alert-success">
                    Password successfully updated!
                </div>
            {% else %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Password Recovery</h2>
                    </div>
                    <div class="panel-body">
                        {% call form_widget.form_wrapper('reset_form', reset_form) %}
                            {% for field in reset_form if field.id != 'csrf_token' %}
                                {% if field.id == 'code' %}
                                    {{ field(value=code) }}
                                {% else %}
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            {{ field.label(class_="col-sm-3 control-label") }}
                                            <div class="col-sm-9">
                                                {{ field(class_="form-control", autocomplete="off", required="") }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {{ form_widget.buttons(submit_text='Reset Password!') }}
                        {% endcall %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
